@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nanum Gothic", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f4f2ee;
  color: #5f5f5f;
}

/* Header */

.logo {
  text-decoration: none;
}

.logo__img {
  display: block;
  width: 35px;
  margin-right: 17px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadir sombra al header */
}

.header__left {
  display: flex;
  align-items: center;
}

.navegation {
  display: flex;
  gap: 30px; /* Aumentar el espacio entre los elementos de navegación */
  align-items: center;
}

.navegation__list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}

.navegation__item {
  display: flex;
  align-items: center;
}

.navegation__link {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre el icono y el texto */
  text-align: center;
  font-weight: 400;
  min-height: 52px;
  padding: 0 10px;
  position: relative;
  transition: color 0.3s ease;
  color: #5f5f5f;
  font-size: 0.9rem;
}

.navegation__link:hover {
  color: #0073b1; /* Color al pasar el ratón similar al estilo de LinkedIn */
}

.navegation__icon {
  font-size: 1.5rem;
}

.search {
  background-color: #edf3f8;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 300px; /* Ajustar el ancho de la barra de búsqueda */
  padding: 5px 15px;
}

.search__input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
}

.search__icon {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Perfil y menú desplegable */

.profile__container {
  position: relative;
  cursor: pointer;
}

.profile__link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #5f5f5f;
}

.profile__link:hover {
  color: #0073b1;
}

.profile__dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 10;
  width: 180px;
}

.profile__dropdown li {
  list-style: none;
}

.profile__dropdown li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #5f5f5f;
  font-size: 0.9rem;
}

.profile__dropdown li a:hover {
  background-color: #edf3f8;
  color: #333;
}

/* Mostrar menú desplegable al hacer hover */
.profile__container:hover .profile__dropdown {
  display: block;
}  

.bx-chevron-down {
  font-size: 1rem;
}




